.logo-brand {
    text-align: center;
    margin-top: 1em;
}

.brand-layout-control {
    display: inline-block;
    font-size: 64px;
}

.heading-medium-large {
    border-bottom: inherit;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: .8em;
    margin-top: 0.3em;
    text-transform: none;
}

.btn-social {
    padding-left: 0;
    text-align: center;
    font-size:16px;
    line-height: 2;
}

.btn-social>:first-child {
    line-height: 44px;
    border-right: 0;
}

.btn-aaf {
    color: #fff;
    background-color: #f5811d;
    border-color: rgba(0,0,0,0.2);
    font-size: 14px;
    /*text-align: right;*/
}

.btn-aaf:hover,
.btn-aaf:focus,
.btn-aaf:active {
    color: #fff;
    background-color: #d66809;
    border-color: rgba(0,0,0,0.2);
}

.btn-aaf:active:hover,
.btn-aaf:active:focus {
    color: #fff;
    background-color: #b35708;
    border-color: rgba(0,0,0,0.2);
}

.aaf-logo {
    height: 100%;
    content: url("../../../images/aaf-no-text.svg")
}

.form-group-overlay {
    position: relative;
}

.form-group-overlay .forgot {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 16px;
    border: 1px solid transparent;
    height: 49px;
    line-height: 30px;
}

.ala-ui-3 .form-group-overlay .forgot {
    height: 46px;
    line-height: 24px;
}

.forgot-container {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

/* TODO Remove these from ALA overrides */
#main .panel-heading h1, #main .panel-heading h2, #main .panel-heading h3 {
    margin-bottom: 0;
}

/* patch for boostrap chosen for chosen 1.8.3 breaking change */
.chosen-container-single .chosen-single input[type="text"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

/* patch chosen-bootstrap for ALA styles, TODO move to ala-bootstrap3? */
.chosen-container-single .chosen-single {
    border-radius: 0;
    border-color: #999;
}

/* re-apply default highlight colour for chosen that is overridden by the above */
.chosen-container-active .chosen-single {
    border-color: rgba(82, 168, 236, 0.8);
}

/** TODO BS4 shims */
.mb-1 {margin-bottom: 1em;}
.mb-2 {margin-bottom: 2em;}
.mb-3 {margin-bottom: 3em;}
.mt-1 {margin-top: 1em;}
.mt-2 {margin-top: 2em;}
.mt-3 {margin-top: 3em;}
.mt-4 {margin-top: 4em;}
.text-center {text-align: center;}
/** End BS4 shims */

.form-signin.separator {margin: 24px 0;font-size: 14px;font-weight: 300;}
.separator {position: relative;text-transform: uppercase;font-size: 12px;font-weight: 700;margin: 16px 0;}
.separator span {padding: 5px 20px;background: #fff;color: #8f989d;position: relative;}
.separator:before {content: '';display: block;width: 100%;height: 1px;background: #e3e6e7;position: absolute;top: 50%;}