<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>loginProviders Fragment</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>
<body>
<main role="main" class="container mt-3 mb-3">

    <div th:fragment="loginProviders" th:remove="tag">
        <div th:if="${pac4jUrls}" id="list-providers">
            <a th:each="entry: ${pac4jUrls}" th:switch="${entry.type}"
               class="btn btn-block btn-social mb-1"
               th:classappend="${#strings.replace(#messages.msg('cas.authn.pac4j.class.' + entry.name), 'cas.authn.pac4j.class.' + entry.name, 'btn-' + entry.name)}"
               th:href="@{${entry.redirectUrl}}"
               th:attr="autoredirect=${entry.autoRedirect}"
               th:inline="text"
               th:title="${#strings.replace(#messages.msg('cas.authn.pac4j.label.' + entry.name), 'cas.authn.pac4j.label.' + entry.name, entry.name)}">

                <span th:case="twitter" class="fab fa-twitter-square"></span>
                <span th:case="foursquare" class="fab fa-foursquare"></span>
                <span th:case="windowslive" class="fab fa-windows"></span>
                <span th:case="yahoo" class="fab fa-yahoo"></span>
                <span th:case="bitbucket" class="fab fa-bitbucket"></span>
                <span th:case="wordpress" class="fab fa-wordpress"></span>
                <span th:case="google2" class="fab fa-google"></span>
                <span th:case="github" class="fab fa-github-alt"></span>
                <span th:case="dropbox" class="fab fa-dropbox"></span>
                <span th:case="linkedin" class="fab fa-linkedin"></span>
                <span th:case="facebook" class="fab fa-facebook-square"></span>
                <span th:case="oidc" th:class="${#strings.replace(#messages.msg('cas.authn.pac4j.btn.class.' + entry.name), 'cas.authn.pac4j.btn.class.' + entry.name, entry.cssClass)}"></span>
                <span th:case="saml2" th:class="${entry.cssClass}"></span>
                <span th:case="*" class="fa fa-sign-in-alt"></span>

                [[#{ala.screen.login.signinwith(${#strings.replace(#messages.msg('cas.authn.pac4j.label.' + entry.name), 'cas.authn.pac4j.label.' + entry.name, entry.name)})}]]
            </a>
            <p class="visible-xs separator text-center mb-2"><span th:text="#{ala.screen.login.or}">Or</span></p>

        </div>
        <script>
            var redirectTo = $( "a[autoRedirect=true]" ).attr("href");
            if (redirectTo != null && redirectTo != undefined) {
                window.location.href = redirectTo;
            }
        </script>
    </div>
</main>
</body>
</html>