<div th:if="${pac4jUrls}">
    <a th:each="entry: ${pac4jUrls}" th:switch="${entry.type}"
       class="btn btn-block btn-social margin-bottom-1"
       th:classappend="${#strings.replace(#messages.msg('cas.authn.pac4j.class.' + entry.type), 'cas.authn.pac4j.class.' + entry.type, 'btn-' + entry.type)}"
       th:href="${entry.redirectUrl}"
       th:inline="text"
       th:title="${#strings.replace(#messages.msg('cas.authn.pac4j.label.' + entry.type), 'cas.authn.pac4j.label.' + entry.type, entry.name)}">

        <span th:case="twitter" class="fa fa-twitter"></span>
        <span th:case="foursquare" class="fa fa-foursquare"></span>
        <span th:case="windowslive" class="fa fa-windows"></span>
        <span th:case="yahoo" class="fa fa-yahoo"></span>
        <span th:case="bitbucket" class="fa fa-bitbucket"></span>
        <span th:case="wordpress" class="fa fa-wordpress"></span>
        <span th:case="google2" class="fa fa-google"></span>
        <span th:case="github" class="fa fa-github-alt"></span>
        <span th:case="dropbox" class="fa fa-dropbox"></span>
        <span th:case="linkedin" class="fa fa-linkedin"></span>
        <span th:case="facebook" class="fa fa-facebook"></span>
        <span th:case="oidc" class="fa fa-openid"></span>
        <span th:case="saml2" class="fa fa-lock"></span>
        <span th:case="*" class="fa fa-sign-in"></span>

        [[#{ala.screen.login.signinwith(${#strings.replace(#messages.msg('cas.authn.pac4j.label.' + entry.type), 'cas.authn.pac4j.label.' + entry.type, entry.name)})}]]
    </a>
    <p class="separator t-center margin-bottom-2"><span th:text="#{ala.screen.login.or}">Or</span></p>

</div>
