<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title th:text="#{screen.notactivated.heading}">Account Not Activated View</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>

<body>
<main role="main" class="container mt-3 mb-3">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h2 class="panel-title" th:utext="#{screen.notactivated.heading}"/>
                    </div>
                    <div class="panel-body">
                        <p th:utext="#{screen.notactivated.message}">This account has a pending activation email.  Please use the link in the activation email to activate your account first.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
