<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{screen.success.header}"></title>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2 class="panel-title" th:utext="#{screen.success.header}"/>
                </div>
                <div class="panel-body">
                    <p th:utext="#{screen.success.success(${principal.attributes['email'] ?: principal.id})}"/>
                    <br>
                    <p th:utext="#{screen.success.security}"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>