<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{ala.screen.extra.header}">One quick request...</title>
    <link href="../../static/css/cas.css" rel="stylesheet" th:href="@{${#themes.code('cas.standard.css.file')}}"/>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title" th:utext="#{ala.screen.extra.header}">
                        One quick request...
                    </h2>
                </div>
                <div class="panel-body">
                    <p th:utext="#{ala.screen.extra.description}">
                        We noticed that this is your first login.  Would you please fill in the following information?
                    </p>
                    <form class="form-horizontal" id="fm-extra" method="post" th:object="${attrs}" th:action="@{/login}" data-toggle="validator">

                        <div class="form-group">
                            <label for="organisation" class="col-sm-2 control-label" th:text="#{ala.screen.extra.organisation}">Organisation</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" tabindex="1" id="organisation" th:field="*{organisation}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="country" class="col-sm-2 control-label" th:text="#{ala.screen.extra.country}">Country</label>
                            <div class="col-sm-10 col-md-8">
                                <select id="country" name="country"
                                        class="form-control chosen-select"
                                        tabindex="2"
                                        th:field="*{country}">
                                    <option th:each="country : ${countries}"
                                            th:value="${country.isoCode}"
                                            th:text="${country.name}">Country</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state" class="col-sm-2 control-label" th:text="#{ala.screen.extra.state}">State / province</label>
                            <div class="col-sm-10 col-md-8">
                                <select id="state" name="state"
                                        class="form-control chosen-select"
                                        tabindex="3"
                                        th:field="*{state}"
                                >
                                    <option th:text="#{ala.screen.extra.state.empty}" value="">-- Please select one --</option>
                                    <option th:each="state : ${states}"
                                            th:value="${state.isoCode}"
                                            th:text="${state.name}">State</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="city" class="col-sm-2 control-label" th:text="#{ala.screen.extra.city}">City</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" tabindex="4" id="city" th:field="*{city}">
                            </div>
                        </div>

                        <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                        <input type="hidden" name="_eventId" value="submit"/>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input class="btn btn-primary"
                                       name="submit"
                                       type="submit"
                                       accesskey="s"
                                       tabindex="5"
                                       th:value="#{ala.screen.extra.submit}"
                                       value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">

        var i = [[#{ala.screen.extra.submit.wip}]];
        $("#fm-extra").submit(function() {
            $(":submit").attr("disabled", true);
            $(":submit").attr("value", i);
            return true;
        });

        $(function() {
            var statesUrlPrefix = [[${ala.userCreator.statesListUrl}]];
            $(".chosen-select").chosen({
                disable_search_threshold: 10,
                allow_single_deselect: true
            });

            $("#country").on('change', function(evt, params) {
                var $state = $("#state");
                $state.children('option:not(:first)').remove();
                // $state.children('option').remove();
                $state.trigger("chosen:updated");
                $.get(statesUrlPrefix + "?country=" + evt.target.value, function(data) {
                    if (data.length == 0) {
                        $state.prop('disabled', true);
                    } else {
                        $state.prop('disabled', false);
                        $.each(data, function(i, state) {
                            $state.append($("<option></option>").attr("value", state.isoCode).text(state.name));
                        });
                    }
                    $state.trigger("chosen:updated");
                },'json');
            });
        });

    </script>
</div>
</body>
</html>