<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">

<head>
    <title th:text="#{screen.unavailable.heading(${status},${error})}"></title>

    <script th:inline="javascript">
        /*<![CDATA[*/
        
        function showErrorDetails() {
            $("#errorMsg").remove();
            $("#errorDetails").empty();
            $("#errorDetails").append("<p><pre style='white-space: pre-wrap;'>" + /*[[${#strings.escapeXml(trace)}]]*/ +"</pre></p>");
        }
        /*]]>*/
    </script>
</head>

<body id="cas">
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2 class="panel-title" th:utext="#{screen.unavailable.heading(${status},${error})}" />
                </div>
                <div class="panel-body">
                    <p th:utext="#{screen.unavailable.message}" />
                    <p id="errorMsg">
                    <pre th:text="${'Error: ' + message}" />
                    </p>
                    <p id="errorDetails">
                        <button type="button" class="btn btn-shutdown"
                                onclick="showErrorDetails();">View Details</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
